

.featureInfo {
    position: fixed;
        bottom: 30px;
        right: 15px;
    
    
     /* padding: 5px; */
        border: 1px solid black; 
        z-index: 100; 
        background-color: cornsilk;
}

.map {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}



.north-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px; /* Passen Sie die Größe entsprechend an */
    height: 50px; /* Passen Sie die Größe entsprechend an */
    background-image: url('north_arrow.png'); /* Pfad zum Bild des Nordpfeils */
    background-size: cover;
    z-index: 1000; /* Stellen Sie sicher, dass der Nordpfeil über der Karte liegt */
}