/* .ol-zoom .ol-zoom-in,
.ol-zoom .ol-zoom-out {
    border-radius: 6px 6px 6px 6px;
    width: 32px; 
    height: 32px;   
} */


.ol-control{
    background-color: transparent;
}

.ol-control button {
    margin: 4px; 
}

.ol-control.ol-attribution {
    bottom: 5px;
}

.ol-scale-line{
    bottom: 5px;  
} 



