
/* .ant-drawer-content-wrapper {
    z-index: 5;
}

.ant-drawer.ant-drawer-left.no-mask.css-dev-only-do-not-override-1ae8k9u.ant-drawer-open{
    z-index: 0;
}

.ant-modal-wrap.Modal-Feature{
    all: unset;
}

.ant-modal.featureInfo-container {
    position: fixed;
    top: 50%;
    left: 50px; 
    width: 350px !important;
    padding: 0 0 0 0;
    margin: 0 0;
    padding-bottom: 0;
    box-shadow: 0 0;
    max-width: calc(100vw - 100px);
    padding-bottom: 0;
    overflow: auto;
    max-height: 50vh;
}


.feature-info-container {
    display: flex;
    flex-direction: column;
} */

.ant-drawer{
    z-index: 50; 
}

.attribute-row {
    display: flex;
    justify-content: space-between;
}

.attribute-name {
    flex: 1;
    text-align: left;
}

.attribute-value {
    flex: 1;
    text-align: right;
    margin-bottom: 5px;
}








