  /* .info {
    z-index: 10050;
    position: fixed;
    bottom: 30px;
    left: 15px;
       
    width:auto; 
       
    padding: 5px;
    border: 1px solid black; 
    z-index: 100; 
    background-color: cornsilk;
    
  }   */
.ant-modal-wrap.Modal-Feature{
    
    all: unset;
      
}


.ant-modal.featureInfo-container {
    position: fixed;
    top: 50%;
    transform: translateY(-25%);
    left: 50px; 
    width: 350px !important;
    padding: 0 0 0 0;
    margin: 0 0;
    padding-bottom: 0;
    box-shadow: 0 0;
    max-width: calc(100vw - 100px);
    padding-bottom: 0;
    overflow: auto;
    max-height: 50vh;
}




.feature-info-container {
    display: flex;
    flex-direction: column;
}

.attribute-row {
    display: flex;
    justify-content: space-between;
}

.attribute-name {
    flex: 1;
    text-align: left;
}

.attribute-value {
    flex: 1;
    text-align: right;
}




/* .ant-modal-wrap{
    position: static; 
    inset: auto; 
    z-index: 0 !important; 
    overflow: initial;  
    outline: none; 
    -webkit-overflow-scrolling: initial; 
} */ 



