.baseboard {
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    align-items: center;
    z-index: 500;
}

.baseboard div {
    flex: 1;
    border-right: none;
    padding: 2px;
    font-size: 9pt;
    display: flex;    
    text-align: center;
    align-items: center; 
    z-index: 100;
    /* justify-content: center;     */
} 

.Copyright{
    justify-content: end;
    margin-right: 5px; 
    background-color: transparent;
}

.buttonAbout{
    justify-content: center;
    z-index: auto;
    
}

.Koordinaten{
    justify-content: start;
    margin-left: 5px;
}




/* justify-content: horizontal mittig 
text-align / align-items vertikal mittig '/
/* Wichtig für die unterschiedlichen Überschriften (h1 - h6) und Absatz p */