
.buttonContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    left: 8px; 
    top: 150px; 
    margin: 4px;
    z-index: 1;
    transition: left 0.33s; 
}

.tool{   
    border-radius: 6px; 
    width: 32px;
    height: 32px;
    z-index:50;
} 

.ol-zoom .ol-zoom-in,
.ol-zoom .ol-zoom-out {
    border-radius: 6px 6px 6px 6px;
    width: 32px; 
    height: 32px;   
}

