
.buttonContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    left: 8px; 
    top: 150px; 
    margin: 4px;
}
/* .button {
    /* width: 30px;
    height: 30px; */
    /* background-color: white;
}  */

.tool{   
    border-radius: 6px; 
    width: 32px;
    height: 32px;

} 

/* .tool:hover {
    background-color: lightgrey !important; 
} Ändere die Hintergrundfarbe bei Hover (wenn Maus über Button fährt */