

.sidebarContainer {
    position: fixed;       
}

.ant-drawer{
    box-sizing: content-box !important;
}

.ant-drawer-mask{
    background-color: transparent !important; /* mask is transparent, so you could see the layers well */
} 

.openButton {
    /*display: 'inline-flex';*/
    display: flex;
    justify-content: center; 
    align-items: center;
    position: fixed;
    top: 60px; 
    right: 0;
    width: 32px;
    padding: 0px 0px;
    transition: right 0.3s; 

    /* background: white;
    border-color: grey; *
    border-radius: 6px;      */
}

.openButtonDrawerOpen {
    right: 380px;
}

/* .openButton:hover{
    background-color: lightgrey !important;
} */

