

.sidebarContainer {
    position: relative;   
    z-index: 2;     
}

.ant-drawer-content-wrapper{
    top: 45px !important; 
    
    bottom: 28px !important; 

    box-shadow: 0 0 0 !important;
   
}

.ant-drawer.ant-drawer-right.no-mask.css-dev-only-do-not-override-1ae8k9u.ant-drawer-open{
    z-index: 5;
}

.openButton {
    
    display: flex;
    justify-content: center; 
    align-items: center;
    position: fixed;
    top: 57px; 
    right: 0;
    width: 32px;
    padding: 0px 0px;
    transition: right 0.33s; 
    z-index: 1;
}

.openButtonDrawerOpen {
    right: 378px;
}




/* automatisch von AntDesign: 
.openButton:hover{
    background-color: lightgrey !important;
} */

