


.ol-mouse-position {
    position: fixed;
    right: 85%;
    top:  93%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Hintergrundfarbe mit Transparenz */
    border: 1px solid #ccc; /* Randstil und Farbe */
    /* font-size: 11pt; */
    z-index: 1000; /* Z-Index, um sicherzustellen, dass die Box über anderen Inhalten liegt */
    width: auto; /* Automatische Breite */
    height: auto;
    min-width: 120px; /* Mindestbreite der Box */
    overflow: visible;
    display:flex;
    text-align: center;
    align-content: center;
    white-space: nowrap;
}

