/* .raster-slider{
    z-index: 1000;
    /* position: absolute;
    bottom: 200px;
    left: 150px;*/
    /* width: 400px; 
    
} */

/* .ant-slider-mark-text {
    transform: rotate(-90deg) !important; 
    /* transform-origin: center;
    white-space: nowrap; Verhindert, dass der Text umbrochen wird 
}  */

