.ant-modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.ant-modal-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
}

.ant-modal-content{
    text-align: justify;
}

/* .layer-tree-info{
    
    position: 'absolute';
    top: '-5px';
    right: '0' 
}  */


/* display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    z-index: 10000; */

/* .ant-modal-wrap.info-modal-wrap {
    all: unset; 
}

.ant-modal.info-modal {
    margin: 0 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0 0 0;
    box-shadow: 0 0;
    max-width: calc(100vw - 100px);
    padding-bottom: 0;
  
} */
/* .ant-modal-wrap.info-modal-wrap.ant-modal-centered{
    all: unset; 
} */

