/* .layer-tree-info{
    
    position: 'absolute';
    top: '-5px';
    right: '0' 
}  */


/* display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    z-index: 10000; */